<h3><%= user.email %> 's user page</h3>

<form action='/users/<%= user.id %>' method='POST'>
  <p>
    Your new idea:
  </p>
  <input type='hidden' name='idea[user_id]' value='<%= user.id %>' /><br />
  <input type='text' name='idea[title]' /><br />
  <textarea name='idea[description]'></textarea><br />
  <input type='submit' id='submit_button'/>
</form>

<% ideas.each do |idea| %>
  <ul>
    <li>Idea title: <%= idea.title %></li>
    <li>Idea desc: <%= idea.description %></li>
  </ul>
<% end %>
